<h1>Log In</h1>

<%= form_with(url: '/login') do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="actions">
    <%= form.submit 'Log In' %>
  </div>
<% end %>
