<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        Hi <%= current_user.username %>!
        <%= link_to 'Log Out', '/logout', method: :delete %>
      <% else %>
        <%= link_to 'Log In', '/login' %>
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
